.title {
  color: orange;
}
.shopping_cart {
  float: right;
}

.content_box {
  background-color: lightgrey;
  margin-top: 1%;
  margin-bottom: 1%;
  padding-top: 1%;
  padding-bottom: 1%;
}

.tea_image {
  height:219px;
  width: 235px;
}

.item_description {
  margin-left: 1%;
}
